.boxdiv{
    margin-bottom: 10px;
    margin-top: 10px,
}
.upload-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}  
.uploadbutton {
    margin-top: 5px;
    border: 1px solid black;
    color: black;
    background-color: #ECB365;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
}
  
.upload-button input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}