@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #064663;

}

.pair{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.pair p{
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
}

.website_heading{
    color: #2f486e;
    font-size: 20px;
    

}

.upload_button{
    margin-right: 30px;
}

.button{
    background-color: #ECB365;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    color: white;
	cursor: pointer;
	display: block;
	position: relative;
	border: black;
    border-radius: 100px;
	transition: all 0.4s cubic-bezier(0.200, 0.650, 0.200, 1) 0s;
}

.button:hover{
    color: #ECB365;
	background-color: transparent;
	text-shadow: none;
}